<div class="container d-flex justify-content mt-5">
  <h3>My Cart</h3>
</div>

<div style="overflow-x: auto; " class="container mt-5">
  <table class="table shadow table-striped table-hover border scroll">

    <thead>
      <tr class="">

        <th scope="col">Image</th>
        <th scope="col">Products</th>
        <th scope="col">Category</th>

        <th scope="col">Price(₹)</th>
        <th scope="col">Description</th>

        <th scope="col">Quantity</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each products}}
        <tr>

          <td><img
              style="width: 5rem;"
              src="/images/{{this._id}}.png"
              alt="{{this._id}}.png"
            /></td>
          <td class="td">{{this.name}}</td>
          <td class="td">{{this.type}}</td>
          <td class="td">₹{{this.price}}</td>
          <td class="td">{{this.description}}</td>
          <td class="td"><span
              style="cursor: pointer;"
              class="badge text-bg-success"
            ><b class="w">-</b></span><span> 1 </span><span
              style="cursor: pointer;"
              class="badge text-bg-danger"
            ><b>+</b></span></td>
          <td class="tr"><a
              onclick="return confirm('Are you want to delete {{this.name}}')"
              href="/delete-product?id={{this._id}}"
            ><button class="btn btn-outline-danger">Remove</button></a></td>
        </tr>
      {{/each}}
    </tbody>

  </table>

</div>