<div class="container mt-5">
  <h2 class="mb-4 "> Edit Product</h2>
  <form action="./edit-product?id={{product._id}}" method="post" enctype="multipart/form-data">
    <!-- Product Name -->
     <div class="mb-3">
      <label for="name" class="form-label" spellcheck="false">Product Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{product.name}}" required />
    </div>
     <div class="mb-3">
      <label for="type" class="form-label" spellcheck="false">Category</label>
      <input type="text" class="form-control" id="type" name="type" value="{{product.type}}" required />
    </div>
     <div class="mb-3">
      <label for="price" class="form-label">Price (₹)</label>
      <input type="text" class="form-control" id="price" maxlength=6 name="price" value="{{product.price}}" required oninput="this.value = this.value.replace(/[^0-9.]/g, '')"  />
    </div>
     <div class="mb-3">
      <label for="description" class="form-label" spellcheck="true">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="{{product.description}}" required />
    </div>
     <div class="mb-3">
      <label for="image" class="form-label">Current Image</label>
      <br>
      <img class="mb-2 border" src="/images/{{product._id}}.png" width="100"    alt="{{product._id}}.png" id="imgView">
      
      <input type="file" class="form-control" id="image" name="image" onchange="viewImage(event)" />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>

<script>
    function viewImage(event) {
        document.getElementById("imgView").src = URL.createObjectURL(event.target.files[0])
    }
</script>