<div class="container d-flex justify-content-end mt-5">
  <a href="admin/add-products">
    <button class="btn btn-dark">Add Products</button>
  </a>
</div>

<div style="overflow-x: auto; " class="container mt-5">
  <table class="table table-striped table-hover border scroll">

    <thead>
      <tr>

        <th scope="col">Number</th>
        <th scope="col">Products</th>
        <th scope="col">Category</th>

        <th scope="col">Price(₹)</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {{#each products}}
      <tbody>
        <tr>

          <td><b>{{inc @index}}</b></td>
          <td>{{this.name}}</td>
          <td>{{this.type}}</td>
          <td>{{this.price}}</td>
          <td>{{this.description}}</td>
          <td><img
              style="width: 5rem;"
              src="/images/{{this._id}}.png"
              alt="{{this._id}}.png"
            /></td>
          <td class="edit-delete-button">
            <a class="me-1" href="/admin/edit-product?id={{this._id}}"><i
                class="fa-regular fa-pen-to-square"
              ></i></a>
            <a
              onclick="return confirm('Are you want to delete {{this.name}}')"
              href="/admin/delete-product?id={{this._id}}"
            ><i class="fa-solid text-danger fa-trash"></i></a>

          </td>
        </tr>
      </tbody>
    {{/each}}

  </table>

</div>